@model Schoolager.Web.Models.Teachers.TeacherViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid p-5">
    <div class="row mb-3 bg-white">
        <div class="p-3 d-flex justify-content-between align-items-center border-bottom">
            <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
            <h2>Edit Teacher</h2>
        </div>
        <div class="px-3 pt-3">
            <flash dismissable="true"/>
        </div>
        <div class="px-3">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ImageId" />
                <input type="hidden" asp-for="UserId" />

                <div class="row">
                    <div class="col-3">
                        <div class="h-100">
                            <div class="image-preview border-opacity-50 d-flex justify-content-center align-items-center" style="background-image: url(@Url.Content(@Model.ImageFullPath))">
                                <label class="btn btn-outline-dark border-0 d-flex flex-column pt-1">
                                    <i data-feather="upload" stroke-width="1">Upload</i>
                                    <input asp-for="ImageFile" class="img" id="imageFile" type="file" style="width: 0px;height: 0px;overflow: hidden;"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="mb-4">
                            <label asp-for="SubjectId" class="control-label"></label>
                            <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="DateOfBirth" class="control-label"></label>
                                <input asp-for="DateOfBirth" class="form-control" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="">
                            <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
                            <button asp-action="Edit" type="submit" value="Save" class="btn btn-outline-success">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        // Preview image
        $(function() {
            $(document).on("change","#imageFile", function()
            {
    		    let uploadFile = $(this);
                let files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
 
                if (/^image/.test( files[0].type)){ // only image file
                    let reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file
 
                    reader.onloadend = function(){ 
                        // set image data as background of div
                        $('.image-preview').css("background-image", "url("+this.result+")");

                        // set the image url property
                        $('#ImageIdString').val(`${files[0].name}`);

                        // remove validation span
                        $('#ImageIdStringValidation').removeClass("field-validation-error");
                        $('#ImageIdStringValidation').addClass("field-validation-valid");
                        $('#ImageIdString-error').remove();
                    }
                }
      
            });
        });
    </script>
}