<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Schoolager.Web</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <partial name="_Navbar" /> 
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_Sidebar" />
    }

    <div class="container-fluid p-0">
        <main role="main" class="content bg-light-gray" id="mainContent">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Schoolager.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
