<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Schoolager.Web</title>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.3.56/fluent.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css"/>

    <link rel="stylesheet" href="~/lib/jquery-timepicker/jquery.timepicker.min.css"/>

    <link rel="stylesheet" href="~/css/style.css" />

    <script src="https://cdn.syncfusion.com/ej2/20.3.56/dist/ej2.min.js"></script>
</head>
<body>
    <header>
        <partial name="_Navbar" /> 
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_Sidebar" />
    }

    <div class="container-fluid p-0">
        @if (User.Identity.IsAuthenticated)
        {
            <main role="main" class="content bg-light-gray" id="mainContent">
                @RenderBody()
            </main>
        }
        else
        {
            <main role="main" class="content bg-light-gray closed" id="mainContent">
                @RenderBody()
            </main>
        }
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Schoolager.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
