<aside>
    <div class="sidebar-container py-3" id="sidebarContainer">
        <div class="sidebar flex-column open bg-dark" id="sidebar">
            <div class="nav-item mb-5">
                <a class="text-light w-100" asp-area="" asp-controller="Home" asp-action="Dashboard">
                    <div class="d-flex brand-container justify-content-center align-items-center">
                        <div class="brand-image-container">
                            <img class="brand-image" src="~/images/schoolager.svg" alt="" />
                        </div>
                        <div class="brand-name-container ps-3">
                            <span class="brand-name">Schoolager</span>
                        </div>
                    </div>
                </a>
            </div>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
            <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Employees" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="specialitiesNav">
                        <i class="fa-solid fa-user-tie"></i>
                        <p class="mx-2 my-0">Employees</p>
                    </div>
                </a>
            </div>
            <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Subjects" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="specialitiesNav">
                        <i class="fa-solid fa-book"></i>
                        <p class="mx-2 my-0">Subjects</p>
                    </div>
                </a>
            </div>
            <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Teachers" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="ownersNav">
                        <i class="fa-solid fa-chalkboard-user"></i>
                        <p class="mx-2 my-0">Teachers</p>
                    </div>
                </a>
            </div>
            <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Rooms" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="ownersNav">
                        <i class="fa-solid fa-house"></i>
                        <p class="mx-2 my-0">Rooms</p>
                    </div>
                </a>
            </div>
            <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Students" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="usersNav">
                        <i class="fa-solid fa-user"></i>
                        <p class="mx-2 my-0">Students</p>
                    </div>
                </a>
            </div>
            <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Turmas" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="calendarNav">
                        <i class="fa-solid fa-people-group"></i>
                        <p class="mx-2 my-0">Turmas</p>
                    </div>
                </a>
            </div>
            }
            @if (User.IsInRole("Teacher"))
            {
                <div class="nav-item mb-2">
                    <a class="text-light w-100" asp-area="" asp-controller="Lessons" asp-action="TeacherIndex">
                        <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="petsNav">
                            <i class="fa-regular fa-calendar-days"></i>
                            <p class="mx-2 my-0">Lessons</p>
                        </div>
                    </a>
                </div>
                <div class="nav-item mb-2">
                    <a class="text-light w-100" asp-area="" asp-controller="Grades" asp-action="TeacherIndex">
                        <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="treatmentsNav">
                            <i class="fa-solid fa-medal"></i>
                            <p class="mx-2 my-0">Grades</p>
                        </div>
                    </a>
                </div>
            }
            else if(User.IsInRole("Student"))
            {
                <div class="nav-item mb-2">
                    <a class="text-light w-100" asp-area="" asp-controller="Lessons" asp-action="TeacherIndex">
                        <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="petsNav">
                            <i class="fa-regular fa-calendar-days"></i>
                            <p class="mx-2 my-0">Lessons</p>
                        </div>
                    </a>
                </div>
                <div class="nav-item mb-2">
                    <a class="text-light w-100" asp-area="" asp-controller="Grades" asp-action="ShowLoggedStudentGrades">
                        <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="treatmentsNav">
                            <i class="fa-solid fa-medal"></i>
                            <p class="mx-2 my-0">Grades</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</aside>