@model Schoolager.Web.Models.Account.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Login</title>
</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="panel-left col vh-100 d-flex justify-content-center align-items-center">
                <div class="text-center" style="min-width: 344px">
                    <img src="~/images/schoolager.svg" alt="" />
                    <h1 class="login-title">Schoolager</h1>
                </div>
            </div>
            <div class="panel-right col vh-100 d-flex justify-content-center align-items-center" id="loginForm">
                <div style="min-width: 344px">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="mb-4">
                            <label asp-for="Username">Username</label>
                            <input asp-for="Username" class="form-control"/>
                            <span asp-validation-for="Username" class="text-warning"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" class="form-control"/>
                            <span asp-validation-for="Password" class="text-warning"></span>
                        </div>
                        <div class="mb-4 text-center">
                            <button asp-action="Login" asp-controller="Account" type="submit" class="btn btn-primary text-light w-100 mb-2">Login</button>
                            <a href="#" class="fw-normal">Forgot your password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
