@using Schoolager.Web.Constants
@using Schoolager.Web.Data
@using Syncfusion.EJ2.Schedule
@using Syncfusion.EJ2

@{
    ViewData["Title"] = "Privacy Policy";

    string holidays = Holidays.GetStaticHolidays();

    int[] workDays = new int[] { 1, 2, 3, 4, 5};

    DateTime minVal= new DateTime(2000,01,01, 07,00,00);
    DateTime maxVal = new DateTime(2000,01,01, 18,00,00);

    ScheduleTimeScale timeScale = new ScheduleTimeScale
    {
        Interval = 60,
        SlotCount = 4,
    };

    ScheduleWorkHours workHours = new ScheduleWorkHours
    {
        Start = "07:00",
        End = "18:00",
        Highlight = true
    };

    List<ScheduleView> viewOptions = new List<ScheduleView>
    {
        new ScheduleView
        {
            Option = Syncfusion.EJ2.Schedule.View.Day,
            StartHour = "08:00",
            EndHour = "18:00",
            TimeScale = timeScale,
        },
        new ScheduleView 
        { 
            Option = Syncfusion.EJ2.Schedule.View.Week,
            FirstDayOfWeek = 0,
            StartHour = "08:00",
            EndHour = "18:00",
            TimeScale = timeScale,
        },
        new ScheduleView 
        { 
            Option = Syncfusion.EJ2.Schedule.View.Month,
            //Readonly = true,
        },
    };

    List<object> menuItems = new List<object>();

    menuItems.Add(new
    {
        text = "New Event",
        iconCss = "e-icons new",
        id = "Add"
    });
    menuItems.Add(new
    {
        text = "Edit Event",
        iconCss = "e-icons edit",
        id = "Save"
    });
    menuItems.Add(new
    {
        text = "Delete Event",
        iconCss = "e-icons delete",
        id = "Delete"
    });

    List<AppointmentTest> appData = new List<AppointmentTest>();

    appData.Add(new AppointmentTest
    {
        Id = 1,
        Subject = "Paris",
        Location = "Sala 25",
        StartTime = new DateTime(2022, 9, 12, 10, 0, 0),
        EndTime = new DateTime(2022, 9, 12, 12, 30, 0),
        RecurrenceRule = "FREQ=WEEKLY;INTERVAL=1;UNTIL=20230731T190801Z;",
        RecurrenceException = holidays,
    });
    appData.Add(new AppointmentTest
    {
        Id = 1,
        Subject = "Paris",
        Location = "Sala 25",
        StartTime = new DateTime(2022, 9, 13, 10, 0, 0),
        EndTime = new DateTime(2022, 9, 13, 12, 30, 0),
        RecurrenceRule = "FREQ=WEEKLY;INTERVAL=1;UNTIL=20230731T190801Z;",
        RecurrenceException = holidays,
    });
    appData.Add(new AppointmentTest
    {
        Id = 1,
        Subject = "Paris",
        Location = "Sala 25",
        StartTime = new DateTime(2022, 9, 14, 10, 0, 0),
        EndTime = new DateTime(2022, 9, 14, 12, 30, 0),
        RecurrenceRule = "FREQ=WEEKLY;INTERVAL=1;UNTIL=20230731T190801Z;",
        RecurrenceException = holidays,
    });
    appData.Add(new AppointmentTest
    {
        Id = 1,
        Subject = "Paris",
        Location = "Sala 25",
        StartTime = new DateTime(2022, 9, 15, 10, 0, 0),
        EndTime = new DateTime(2022, 9, 15, 12, 30, 0),
        RecurrenceRule = "FREQ=WEEKLY;INTERVAL=1;UNTIL=20230731T190801Z;",
        RecurrenceException = holidays,
    });
    appData.Add(new AppointmentTest
    {
        Id = 1,
        Subject = "Paris",
        Location = "Sala 25",
        StartTime = new DateTime(2022, 9, 16, 10, 0, 0),
        EndTime = new DateTime(2022, 9, 16, 12, 30, 0),
        RecurrenceRule = "FREQ=WEEKLY;INTERVAL=1;UNTIL=20230731T190801Z;",
        RecurrenceException = holidays,
    });
//}
}
<div class="container-fluid p-5">
    <div class="bg-white">
        <ejs-schedule id="schedule" allowDragAndDrop="false" allowResizing="false" showWeekend="false" views="viewOptions" workDays="workDays">
            <e-schedule-eventsettings dataSource="appData" enableTooltip="true">
            </e-schedule-eventsettings>
        </ejs-schedule>
        <div class="p-5">
            <h2>@holidays</h2>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
}

