@use "../abstracts/abstracts" as *;

.navbar {
    height: 80px;
    z-index: 10 !important;
    position: fixed;
    top: 0;
    left: 250px !important;

    &.closed {
        left: 0 !important;
    }

    .nav-item {
        transition: all 0.05s ease-in;

        &.active {
            font-weight: 700;

            a {
                color: $secondary !important;
            }
        }

        &:hover {
            font-weight: 700;

            a {
                color: $secondary !important;
            }
        }
    }
}
