@using Newtonsoft.Json
@using Syncfusion.EJ2.Navigations
@model Schoolager.Web.Models.Lessons.LessonDataViewModel
@{
    ViewData["Title"] = "CreateLessonData";

    var summary = new TabHeader { Text = "Summary" };
    var absences = new TabHeader { Text = "Absences" };
    var resources = new TabHeader { Text = "Resources" };
    var homework = new TabHeader { Text = "Homework" };
}

<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="px-3 p-3 d-flex justify-content-between align-items-center">

            <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
            <h2>New Lesson</h2>
        </div>

        @*<ejs-tab id="ej2Tab">
            <e-tab-tabitems>
                <!---------- SUMMARY ---------->
                <e-tab-tabitem header="summary">
                    <content>
                </e-tab-tabitem>
                <!---------- ABSENCES ---------->
                <e-tab-tabitem header="absences">
                    
                </e-tab-tabitem>
                <!---------- RESOURCES ---------->
                <e-tab-tabitem header="resources">
                    
                </e-tab-tabitem>
                <!---------- HOMEWORK ---------->
                <e-tab-tabitem header="homework">
                    
                </e-tab-tabitem>
            </e-tab-tabitems>
        </ejs-tab>
*@
        @*<ejs-tab id="ej2Tab">
            <e-tab-tabitems>
                <!---------- SUMMARY ---------->
                <e-tab-tabitem header="summary">
                    <e-content-template>
                        <form>
                            <div class="mb-2">
                                <label asp-for="Summary" class="control-label">Summary</label>
                                <textarea asp-for="Summary"class="form-control"></textarea>
                                <span asp-validation-for="Summary" class="text-secondary"></span>
                            </div>
                        </form>
                    </e-content-template>
                </e-tab-tabitem>
                <!---------- ABSENCES ---------->
                <e-tab-tabitem header="absences">
                    <e-content-template>
                        <div class="mb-2">
                            <table class="table table-bordered table-hover" id="tableAll">
                                <thead>
                                    <tr>
                                        <th>Selected</th>
                                        <th>Nome</th>
                                        <th>Date of Birth</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.Attendances)
                                    {
                                        <tr>
                                            <td class="align-middle"><input type="checkbox" name="addSelected" /></td>
                                            <td class="align-middle">@item.StudentViewModel.FullName</td>
                                            <td class="align-middle">@item.StudentViewModel.DateOfBirth.Value.ToShortDateString()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </e-content-template>
                </e-tab-tabitem>
                <!---------- RESOURCES ---------->
                <e-tab-tabitem header="resources">
                    <e-content-template>
                        <p>Resources</p>
                    </e-content-template>
                </e-tab-tabitem>
                <!---------- HOMEWORK ---------->
                <e-tab-tabitem header="homework">
                    <e-content-template>
                        <p>Homework</p>
                    </e-content-template>
                </e-tab-tabitem>
            </e-tab-tabitems>
        </ejs-tab>*@

        @*<div class="d-flex justify-content-center align-items-center w-100">
            <form>
                <div class="mb-2">
                    <label asp-for="Summary" class="control-label">Summary</label>
                    <textarea asp-for="Summary"class="form-control"></textarea>
                    <span asp-validation-for="Summary" class="text-secondary"></span>
                </div>
                <div class="mb-2">
                    <table class="table table-bordered table-hover" id="tableAll">
                        <thead>
                            <tr>
                                <th>Selected</th>
                                <th>Nome</th>
                                <th>Date of Birth</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.Attendances)
                            {
                                <tr>
                                    <td class="align-middle"><input type="checkbox" name="addSelected" /></td>
                                    <td class="align-middle">@item.StudentViewModel.FullName</td>
                                    <td class="align-middle">@item.StudentViewModel.DateOfBirth.Value.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>*@
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function() {
            
        });
    </script>
}