@model Schoolager.Web.Models.Lessons.LessonDataViewModel

@{
    ViewData["Title"] = "LessonData";
}

<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a asp-action="LessonDataSummary" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark active" aria-current="page" >Summary</a>
                </li>
                <li class="nav-item">
                    <a asp-action="LessonDataAbsences" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark">Absences</a>
                </li>
                <li class="nav-item">
                    <a asp-action="LessonDataResources" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark">Resources</a>
                </li>
                <li class="nav-item">
                    <a  asp-action="LessonDataHomework" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark">Homework</a>
                </li>
            </ul>
        </div>
        <div class="mx-3">
            <form asp-action="LessonData" method="post">
                <input asp-for="Id" type="hidden"/>
                <div class="mb-2">
                    <label asp-for="Summary" class="control-label">Summary</label>
                    <textarea asp-for="Summary"class="form-control"></textarea>
                    <span asp-validation-for="Summary" class="text-secondary"></span>
                </div>
                <div class="mb-2">
                    <button asp-action="LessonData" type="submit" class="btn btn-outline-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

