@model Schoolager.Web.Models.Lessons.LessonDataViewModel
@{
    ViewData["Title"] = "LessonDataResources";

    ViewData["Id"] = Model.Id;
}

<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="mb-3">
            <partial name="_LessonDataNav" view-data="ViewData" />
        </div>
        <div class="mx-3">
            @if(@Model.LessonResource.Id != 0)
            {
                <div class="mb-2">
                    <a class="text-primary" href="@Model.LessonResource.FileFullPath">@Model.LessonResource.Name</a>
                </div>
            } else
            {
                <div class="mb-2">
                    <p class="fs-5 m-0">There's no resources for this lesson.</p>
                </div>
            }

            @if (User.IsInRole("Teacher"))
            {
                <form method="post" enctype="multipart/form-data">
                    <input asp-for="Id" type="hidden"/>
                    <input asp-for="LessonId" type="hidden"/>
                    <input asp-for="LessonResource.Id" type="hidden"/>
                    <div class="mb-2">
                        <label asp-for="LessonResource.Name">Resource Name</label>
                        <input asp-for="LessonResource.Name" class="form-control" accept="application/pdf"/>
                        <span asp-validation-for="LessonResource.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="LessonResource.FormFile">Resource File</label>
                        <input asp-for="LessonResource.FormFile" class="form-control" accept="application/pdf"/>
                        <span asp-validation-for="LessonResource.FormFile" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <button asp-action="LessonDataResources" type="submit" class="btn btn-outline-primary">Upload File</button>
                    </div>
                </form>
            } 
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
	    $(document).ready(function () {
            $('#resources').addClass("active");
	    });
    </script>
}